form.app-form {
    &.single-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        gap: var(--space-s);

        width: auto;
        height: auto;
        padding: var(--space-s);
        margin: 0;
    }

    &.multi-page {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header header"
            "content content content"
            "back-button progress next-button";
        gap: var(--space-s);

        width: auto;
        height: auto;
        padding: var(--space-s);
        margin: 0;

        .app-button.app-form-back-button {
            grid-area: back-button;
        }
        .app-button.app-form-next-button {
            grid-area: next-button;
        }

        .app-form-page {
            grid-area: content;
        }
    }
}