input {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    font-weight: 700;
    font-size: var(--size-m);

    border-style: solid;
    border-width: 4px;
    border-color: var(--color-dark);
    border-radius: var(--radius-theme);

    width: auto;
    height: auto;
    margin: 0;
    padding: var(--space-s);

}

fieldset.app-input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0;

    border-style: solid;
    border-width: 4px;
    border-color: var(--color-dark);
    border-radius: var(--radius-theme);

    width: auto;
    height: auto;
    margin: 0;
    padding: var(--space-s);


    input.app-input {
        border: none;
        border-radius: 0;

        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .app-input-label {
        margin-left: var(--space-xs);
        padding: var(--space-xs);
    }
}