.app-input {
    overflow: clip;
    
    border-style: solid;
    border-width: 3px;
    border-radius: var(--space-xl);

    box-shadow: inset 0px 0px 2px #000;

    width: auto;
    height: auto;
    padding: var(--space-s) var(--space-m) var(--space-xs) var(--space-m);
    margin: 0;

    &.error {
        border-color: var(--color-red);
        .error-message, .error-button {
            color: var(--color-red);
        }
    }

    input, textarea {
        padding: 0;

        font-size: inherit;

        width: 100%;
        max-width: 100%;     
    }
    label {
        max-width: 300px;
    }

}

.app-input {
    &.dropdown {
        padding: var(--space-s) var(--space-s) var(--space-s) var(--space-m);

        .hidden {
            display: none;
        }
        input {
            width: auto;
        }
        &.error {
            border-color: var(--color-red);
        }
    }
}
