.app-button {
    font-weight: var(--weight-thick);
    cursor: pointer;

    &.variant-push {
        --extruded-length: 2px;

        background-color: var(--color-light);

        border-style: solid;
        border-color: var(--color-dark);
        border-width: 3px;
        border-radius: var(--curve-rounded);

        padding: var(--space-s);

        filter: drop-shadow(var(--extruded-length) var(--extruded-length) 0px var(--color-dark));
        margin-right: var(--extruded-length);
        margin-bottom: var(--extruded-length);

        &:hover {
            translate: var(--extruded-length) var(--extruded-length);
            filter: none;
        }
        &.active {
            translate: var(--extruded-length) var(--extruded-length);
            filter: none;
            box-shadow: inset var(--extruded-length) var(--extruded-length) 0px var(--color-dark);
        }
    }


    &.variant-slab {
        background-color: transparent;

        border-radius: var(--curve-circular);

        padding: var(--space-l);


        &.active {
            background-color: var(--color-light);
            box-shadow: 0px 0px 5px var(--color-dark-grey);
        }
    }
}