.app-bottomsheet {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;

    z-index: 100;

    background-color: var(--color-light);
    border-radius: var(--curve-rounded);
    filter: drop-shadow(0px -2px 20px var(--color-dark));

    header {
        padding: var(--space-l);
    }
}

.app-bottomsheet-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.3);
}