.app-bottombar {
    grid-area: bottombar;

    position: fixed;
    left: auto;
    right: auto;
    bottom: 0;

    background-color: var(--color-light);

    border-style: solid;
    border-width: var(--outline-theme);
    border-radius: var(--curve-circular);
    border-color: var(--color-dark);

    box-shadow: 1px 1px 5px var(--color-dark);

    width: auto;
    height: auto;
    padding: var(--space-xs) var(--space-l);
    margin-bottom: var(--space-s);
}