@font-face {
    font-family: 'Unbounded';
    src: url('/fonts/Unbounded/Unbounded.ttf') format('truetype');
}

@font-face {
    font-family: 'Modak';
    src: url('/fonts/Modak/Modak.ttf') format('truetype');
}

:root {
    --space-xxs: 0.125rem;
    --space-xs: 0.25rem;
    --space-s: 0.5rem;
    --space-m: 1rem;
    --space-l: 2rem;
    --space-xl: 3rem;
    --space-xxl: 4rem;

    --size-xxs: 0.25rem;
    --size-xs: 0.5rem;
    --size-s: 0.75rem;
    --size-m: 1rem;
    --size-l: 1.5rem;
    --size-xl: 2rem;
    --size-xxl: 3rem;

    --color-dark: #222;
    --color-light: #fff;

    --radius-theme: 0.75rem;

    --font-theme: 'Modak', cursive;
    --font-main: 'Unbounded', sans-serif;
}

* {
    box-sizing: border-box;
    transition-duration: 100ms;
}

html, body {

    font-family: var(--font-main);
    font-size: 16px;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "topbar"
                         "view"
                         "bottombar";
}


h1, h2, h3, h4, h5, h6 {
    line-height: 1;

    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--font-theme);
    font-size: var(--size-xxl);
    font-weight: 800;
}
h2 {
    font-size: var(--size-xl);
    font-weight: 700;
} 
h3{
    font-size: var(--size-l);
    font-weight: 500;
}
h4 {
    font-size: var(--size-l);
    font-weight: 700;
}
h5 {
    font-size: var(--size-m);
    font-weight: 500;
}
h6 {
    font-size: var(--size-m);
    font-weight: 700;
}
p {
    font-size: var(--size-s);
    font-weight: 400;
}