.app-segmented-controller {
    overflow: clip;

    background-color: var(--color-dark-grey);

    border-style: solid;
    border-width: var(--border-normal);
    border-color: var(--color-dark);
    border-radius: var(--curve-circular);
}