.app-card {
    background-color: var(--color-light-grey);

    border-radius: var(--curve-rounded);

    box-shadow: inset 0px 0px 2px var(--color-dark-grey);

    padding: var(--space-l) var(--space-xl);
}