.app-accordion {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--space-m);

    .app-accordion-header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: var(--space-m);

        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
    }
}