* {
	box-sizing: border-box;
	
	color: inherit;
	background-color: transparent;

	position: static;

	transition-property: all;
	transition-timing-function: ease-in-out;
	transition-duration: 225ms;
}

*[hidden=""], .hidden, head, link, meta, script, style {
	display: none;
}

html {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	gap: 0;
		
	font-family: var(--font-theme);
	font-size: clamp(12px, 1.5vw, 16px);
	font-weight: var(--weight-normal);

	background-color: #000;

	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: "topbar"
						 "view"
						 "bottombar";
	justify-items: center;
	align-items: center;
	gap: 0;

	color: var(--color-dark);
	background-color: var(--color-light);

	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

main, header, footer, nav, section, article, div, span, form {
	display: flex;

	scrollbar-width: thin;

	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
}

.size-xxs {font-size: var(--size-xxs);}
.size-xs {font-size: var(--size-xs);}
.size-s {font-size: var(--size-s);}
.size-m {font-size: var(--size-m);}
.size-l {font-size: var(--size-l);}
.size-xl {font-size: var(--size-xl);}
.size-xxl {font-size: var(--size-xxl);}

.weight-thin {font-weight: var(--weight-thin);}
.weight-light {font-weight: var(--weight-light);}
.weight-normal {font-weight: var(--weight-normal);}
.weight-thick {font-weight: var(--weight-thick);}
.weight-heavy {font-weight: var(--weight-heavy);}

.curve-circular {border-radius: var(--curve-circular);}
.curve-rounded {border-radius: var(--curve-rounded);}

.border-thin {border-width: var(--border-thin);}
.border-normal {border-width: var(--border-normal);}
.border-thick {border-width: var(--border-thick);}

.flow-row {flex-direction: row;}
.flow-column {flex-direction: column;}

.wrap-wrap {flex-wrap: wrap;}
.wrap-nowrap {flex-wrap: nowrap;}

.main-axis-align-start {justify-content: flex-start;}
.main-axis-align-center {justify-content: safe center;}
.main-axis-align-end {justify-content: flex-end;}
.main-axis-align-space-between {justify-content: space-between;}
.main-axis-align-space-around {justify-content: space-around;}
.main-axis-align-space-evenly {justify-content: space-evenly;}

.cross-axis-align-start {align-items: flex-start;}
.cross-axis-align-center {align-items: safe center;}
.cross-axis-align-end {align-items: flex-end;}
.cross-axis-align-stretch {align-items: stretch;}
.cross-axis-align-baseline {align-items: baseline;}

.justify-items-start {justify-items: flex-start;}
.justify-items-center {justify-items: safe center;}
.justify-items-end {justify-items: flex-end;}
.justify-items-stretch {justify-items: stretch;}


.justify-self-start {justify-self: flex-start;}
.justify-self-center {justify-self: safe center;}
.justify-self-end {justify-self: flex-end;}
.justify-self-stretch {justify-self: stretch;}

.align-self-start {align-self: flex-start;}
.align-self-center {align-self: safe center;}
.align-self-end {align-self: flex-end;}
.align-self-stretch {align-self: stretch;}
.align-self-baseline {align-self: baseline;}

.gap-xxs {gap: var(--space-xxs);}
.gap-xs {gap: var(--space-xs);}
.gap-s {gap: var(--space-s);}
.gap-m {gap: var(--space-m);}
.gap-l {gap: var(--space-l);}
.gap-xl {gap: var(--space-xl);}
.gap-xxl {gap: var(--space-xxl);}

.fill-width {width: 100%;}
.fill-height {height: 100%;}

.color-red {background-color: var(--color-red);}
.color-orange {background-color: var(--color-orange);}
.color-yellow {background-color: var(--color-yellow);}
.color-green {background-color: var(--color-green);}
.color-blue {background-color: var(--color-blue);}
.color-pink {background-color: var(--color-pink);}
.color-purple {background-color: var(--color-purple);}


/* JUNK */

.app-grid {
	display: grid;
}