nav.app-bottombar {
    display: flex;
    flex-direction: row;
    grid-area: bottombar;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: var(--space-m);

    width: 100%;
    height: auto;
    padding: var(--space-s);
    margin: 0;
}