.app-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: var(--space-l);

    box-shadow: 1px 1px 5px var(--color-dark-grey);

    border-radius: var(--curve-rounded);

    width: auto;
    height: auto;
    padding: var(--space-xl);
    margin: 0;
}