.app-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    gap: var(--space-xl);

    border-radius: var(--curve-rounded);

    width: auto;
    height: auto;
    padding: var(--space-xl);
    margin: 0;

    .app-button {
        align-self: center;
    }
}